.login{
    width: 800px;
    border-radius: 10px;
    background-color: #fff;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
    box-shadow: 0 0 16px 0 rgb(59 51 49 / 15%);
    gap: 40px;
    overflow: hidden;
}

.login__heading{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heading__title{
    font-size: 1.5em;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
}

.heading_subtitle{
    color: #3b3331;
}

input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #000;
    font-size: 1.2em;
    padding: 10px;
    width: 400px;
}

.login__form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.login button{
    background-color: #efa5a9;
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    border-radius: 10px;
    width: 200px;
    padding: 10px 40px;
    margin: 0 auto;
}

.login__footer{
    background-color: #f4f0ed;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 14px;
}

footer{
    position: absolute;
}